.box *:nth-child(even) {
    /**/
    background-color: #add;
}

.box *:nth-child(odd) {
    background-color: #888;
}

.box2 {
    border: 2px solid red;
    height: 400px;
    width: 400px;
    text-align: center;
}

.box2 * {
    /* كل العناصر الي تحتها هيتنفذ فيها  */
    text-align: center;
    padding: 1cm;
    font-size: 20px;
    height: fit-content;
}